* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  border-radius: 10px;
}
html,
body {
  height: 100%;
  width: 100%;
}

button {
  margin: 10px;
  background-color: rgb(248, 6, 6);
  border: none;
  color: white;
  padding: 10px 15px;
}

.box {
  height: 400px;
  width: 100%;
  background-color: aqua;
  margin: 20px;
}

input {
  padding: 8px 15px;
}

.page1 {
  height: 100vh;
  width: 100%;
  background-color: #eca71b;
}

.page2 {
  height: 100vh;
  width: 100%;
  background-color: #764d4d;
}
.page3 {
  height: 100vh;
  width: 100%;
  background-color: #b19494;
}