* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
}

.parent {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;  /* so that next compo get wrap */
  gap: 20px;
}

.card {
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
  background-color: rgb(35, 32, 30);
}

.card img {
  height: 140px;
  border-radius: 20px;
  margin-bottom: 20px;
  object-fit: cover;
}

.card p {
  margin: 15px;
  font-size: small;
}

.card button {
  padding: 9px 100px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 10px;
}